body{
  background-color:rgb(148, 120, 191);
}
.header{background-color:coral;
  color:rgb(179, 21, 142);
  
}
.menu{
  background-color:rgb(154, 227, 166);
  color:rgb(33, 32, 38);
  
}
.menu{padding-top:2px;}
.menu li{list-style:inline;
list-style-type:none;}

